.FondoRojo{
    background-color: #ff7675 !important;
}
.textRojo{
    color: #ff7675;
}
.textAzul{
    color: #81ecec;
}
.FondoAzul{
    background-color: #81ecec !important;
}
.textVerde{
    color: #55efc4;
}
.FondoVerde{
    background-color: #55efc4 !important;
}
